Package: tuffix
Version: 1.0-5
Section: base
Priority: optional
Architecture: i386
Maintainer: Jared Dyreson <jareddyreson@csu.fullerton.edu>
Description: Linux configuration scripts for California State University Fullerton
